<!DOCTYPE html>
<html>
  <head>
    <!-- 
    ███████╗ ██████╗██╗  ██╗██╗     ███████╗██╗███████╗███████╗██████╗ 
    ██╔════╝██╔════╝██║  ██║██║     ██╔════╝██║██╔════╝██╔════╝██╔══██╗
    ███████╗██║     ███████║██║     █████╗  ██║█████╗  █████╗  ██████╔╝
    ╚════██║██║     ██╔══██║██║     ██╔══╝  ██║██╔══╝  ██╔══╝  ██╔══██╗
    ███████║╚██████╗██║  ██║███████╗███████╗██║██║     ███████╗██║  ██║
    ╚══════╝ ╚═════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝╚═╝     ╚══════╝╚═╝  ╚═╝
    -->
    <title>s c h l e i f e r</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/application.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">togg</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">schleifer</a>
        </div>

        <!-- collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div id="currActive" class="navbar-text"><span class="badge">0</span></div>

          <div id="currTime" class="navbar-text">0:00</div>

          <form id="input-form" class="navbar-form navbar-left" role="search">



          <!-- <div class="input-append btn-group">
            <input class="span2" id="input-channel" size="16" type="text" placeholder="#lobby0" value="#lobby0" disabled />
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#lobby0">#lobby0</a></li>
               <li><a href="#lobby1">#lobby1</a></li>
                <li><a href="#lobby2">#lobby2</a></li>
                <li><a href="#lobby3">#lobby3</a></li>
            </ul>

          </div> -->


          
            <div class="form-group">


                
                <div class="input-append btn-group">
                  <input id="input-videoid" type="text" class="form-control" placeholder="MwlU824cS4s" value="MwlU824cS4s" autofocus />

                  <!-- <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                      <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="#MwlU824cS4s">MwlU824cS4s</a></li>
                  </ul> -->
                </div>

                <div class="input-append btn-group">
                <button class="btn btn-primary" type="submit">
                  <span class="glyphicon glyphicon-plus-sign"></span>
                </button>
                </div>
                
                
            </div>
            
          </form>

    
     
          <!-- THE PLAYLIST -->
          <div class="input-append btn-group videoListContainer">
            <div id="vidz" class="videoList">

              

            </div>

          <!-- LEFT AND RIGHT ARROWS -->
          <div class="VideoListArrows">
            <div class="VideoListArrowLeft"><i class="fa fa-chevron-left fa-lg"></i></div>
            <div class="VideoListArrowRight"><i class="fa fa-chevron-right fa-lg"></i></div>
          </div>



        </div>

        




          

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>



    <div style="margin:0" id="videoContainer">
    </div>



    <script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/application.js"></script>
  </body>
</html>
