html, body {margin: 0; padding: 0;}

#sock-text{
    width: auto;
    height: auto;
    border: none;

    white-space: nowrap;
}
#sock-text * {
    display: inline-block;
    vertical-align: middle;
}

img {
    border: 0;
}

#sock-text {
  overflow: auto;
  height: auto;
}

.clr {
	clear: both;
}